<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haoshen.money.mapper.HoldMapper">

    <resultMap id="holdMap" type="com.haoshen.money.entity.Hold">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="investId" column="invest_id" />
        <result property="direction" column="direction" />
        <result property="currentPrice" column="current_price" />
        <result property="currentNum" column="current_num" />
        <result property="profit" column="profit" />
        <result property="status" column="status" />
        <result property="records" column="records" />
        <result property="comment" column="comment" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <insert id = "insert" parameterType="hold" useGeneratedKeys="true" keyProperty="id">
        insert into invest_hold(user_id, invest_id, direction, current_price, current_num, profit, status, records,
         comment, created_at, updated_at)
          values(#{userId}, #{investId}, #{direction}, #{currentPrice}, #{currentNum}, #{profit}, #{status}, #{records},
          #{comment}, now(), now())
	</insert>

    <update id="update" parameterType="hold">
        update invest_hold set
            <if test="currentPrice != null">
                current_price = #{currentPrice},
            </if>
            <if test="currentNum != null">
                current_num = #{currentNum},
            </if>
            <if test="profit != null">
                profit = #{profit},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="records != null">
                records = #{records},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
                updated_at = now()
         where id = #{id}
	</update>

    <select id="getById" resultMap="holdMap">
        select * from invest_hold where id = #{id}
	</select>

    <select id="getHoldByCondition" resultMap="holdMap">
		select * from invest_hold
		where user_id = #{userId}
            <if test="investId != null">
                and invest_id = #{investId}
            </if>
            <if test="direction != null">
                and direction = #{direction}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        order by status, created_at
        <if test="offset != null and rows != null">
            limit #{offset}, #{rows}
        </if>
	</select>

    <select id="getCountByCondition" resultType="java.lang.Integer">
        select count(*) from invest_hold
        where user_id = #{userId}
        <if test="investId != null">
            and invest_id = #{investId}
        </if>
        <if test="direction != null">
            and direction = #{direction}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>
</mapper>